.m-sign{
  height: 100%;
  position: fixed;
  background-color: #f1f1f1;
  width: 100%;
  .m-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .m-sign-box{
      width: 300px;
      padding: 50px 50px 30px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 8px rgba(0,0,0,.1);
      .m-sign-title{
        text-align: center;
        a,b{
          padding: 10px;
          color: #969696;
          text-decoration: none;
          font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;;
        }
        .m-sign-active{
          color: #009a61;
          font-weight: 700;
          border-bottom: 2px solid #009a61;
        }
      }
      .m-sign-body{
        .el-form-item{
          margin: 0;
        }
        input{
          background-color: #f1f1f1;
          height: 50px;
          
        }
        .el-input__inner{
          padding: 5px 30px;
        }
        .m-sign-remember{
          margin-top: 10px;
          a{
            color: #969696;
            float: right;
            text-decoration: none;
            &:hover{
              color: #009a61
            }
          }

        }
      }
      .m-register-txt{
        color: #969696;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin: 10px 0;
        p{
          margin: 0;
          a{
            color: #3194d0;
            text-decoration: none;
          }
        }
      } 
      .el-button{
        width: 300px;
        margin-top: 20px;
      }
    }
  }
  .m-sign-logo{
    cursor: pointer;
    position: absolute;
    font-size: 40px;
    left: 50px;
    top: 50px;
  }

  .m-sign-logo-left{
    color: #009a61;
  }
}