body{
  position: relative;
  // background-color: #f1f1f1;
}
.m-sign-in-up{
  
  .m-sign-logo{
    cursor: pointer;
    position: absolute;
    font-size: 40px;
    left: 50px;
    // top: 50px;
    // margin: 50px 0 0 50px;
  }

  .m-sign-logo-left{
    color: #009a61;
  }
}